<div class = "signup-form-container">
    <form [formGroup] = "signupForm" (ngSubmit) = "onFormSubmit()">

        <h4> Signup here </h4>

        <hr>

        <!-- Username Section -->

        <div formGroupName = "userName" class = "form-row">

            <!-- First Name Section -->

            <div class = "form-group col-md-6">

                <label for = "userFirstName"> First Name </label>

                <input
                    type = "text"
                    class = "form-control"
                    formControlName = "userFirstName"
                    name = "userFirstName"
                    id = "userFirstName"
                    placeholder = "Your First Name">

                <div *ngIf = "userFirstName.invalid && (userFirstName.touched || userFirstName.dirty)"
                    class = "error-alert">

                    <p *ngIf = "userFirstName.errors.required">
                        First Name is required
                    </p>

                    <p *ngIf = "userFirstName.errors.minlength">
                        First Name should be of minimum 5 character's.
                    </p>

                </div>

            </div>

            <!-- Last Name Section -->

            <div class = "form-group col-md-6">

                <label for = "userLastName"> Last Name </label>

                <input
                    type = "text"
                    class = "form-control"
                    formControlName = "userLastName"
                    name = "userLastName"
                    id = "userLastName"
                    placeholder = "Your Last Name">

                <div *ngIf = "userLastName.invalid && (userLastName.touched || userLastName.dirty)"
                    class = "error-alert">

                    <p *ngIf = "userLastName.errors.required">
                        Last Name is required
                    </p>

                    <p *ngIf = "userLastName.errors.minlength">
                        Last Name should be of minimum 5 character's.
                    </p>

                </div>

            </div>

        </div>

        <!-- User Email Section -->

        <div class = "form-group">

            <label for = "userEmail"> Email </label>

            <input
                type = "email"
                class = "form-control"
                formControlName = "userEmail"
                name = "userEmail"
                id = "userEmail"
                placeholder = "Your Email">

            <div *ngIf = "userEmail.invalid && (userEmail.touched || userEmail.dirty)"
                class = "error-alert">

                <p *ngIf = "userEmail.errors.required">
                    Email is required
                </p>

                <p *ngIf = "userEmail.errors.email">
                    Invalid Email
                </p>

            </div>

        </div>

        <!-- User Password Section -->

        <div class = "form-group">

            <label for = "userPassword"> Password </label>

            <input
                type = "password"
                class = "form-control"
                formControlName = "userPassword"
                name = "userPassword"
                id = "userPassword"
                placeholder = "Your Password">

            <div *ngIf = "userPassword.invalid && (userPassword.touched || userPassword.dirty)"
                class = "error-alert">

                <p *ngIf = "userPassword.errors.required">
                    Password is required
                </p>

            </div>

        </div>

        <!-- User Contact Number -->

        <div class = "form-group">

            <label for = "userContactNumber"> Contact Number </label>

            <input
                type = "number"
                class = "form-control"
                formControlName = "userContactNumber"
                name = "userContactNumber"
                id = "userContactNumber"
                placeholder = "Your Contact Number">

            <div *ngIf = "userContactNumber.invalid && (userContactNumber.touched || userContactNumber.dirty)"
                class = "error-alert">

                <p *ngIf = "userContactNumber.errors.required">
                    Contact Number is required
                </p>

            </div>

        </div>

        <!-- Register Button -->

        <button
            type = "submit"
            class = "btn btn-primary"
            [disabled] = "signupForm.invalid">
            Sign up
        </button>

        <hr *ngIf = "isFormSubmitted">

        <pre *ngIf = "isFormSubmitted">
            {{ signupForm.value | json }}
        </pre>

    </form>
</div>